:root {
  --section-bg-color: #f7f7f7;
  --section-text-color: #333;
  --sidebar-bg-color: #fff;
  --sidebar-text-color: #333;
  --sidebar-hover-bg-color: #fbfbfb;
  --button-bg-color: #007bff;
  --button-text-color: #fff;
  --button-hover-bg-color: #0056b3;
  --button-hover-text-color: #fff;
}

.overall-form-container {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;

}

.overall-form-container > * {
  margin: 0 15px;
}


.sidebar {
  flex: 1 1 20%;
  background-color: var(--sidebar-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8rem;

}

.sidebar ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: var(--sidebar-text-color);
  transition: background-color 0.3s, color 0.3s;
}


.sidebar li:hover {
  font-weight: bold;
}

.form-content {
  flex: 1 1 80%;
  padding: 20px;
  background-color: var(--section-bg-color);
  color: var(--section-text-color);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.overall-form {
  display: flex;
  flex-direction: column;
}

.section {
  width: 90%;
  background-color: var(--section-bg-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.section-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 auto;
}

.section-content h2 {
  font-size: 0.8rem;
  flex: 1;
  width: 100%;
  text-align: left;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 80%;
  width: 100%;
}

.input-section > * {
  font-size: 0.7rem;
  margin: 10px 0;
  width: 90%;
  box-sizing: border-box;
  padding: 8px;
}

.input-section > textarea {
  height: 6rem;
  resize: none;
  overflow-y: auto;
}

.section-content > textarea::-webkit-scrollbar {
  width: 8px;
}

.section-content > textarea::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
  border-radius: 10px;
}

.section-content > textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-bg-color);
}

.section-content > textarea::-webkit-scrollbar-thumb:hover {
  background-color: darken(var(--scrollbar-thumb-color), 10%);
}


.account-form-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.account-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.account-form > *:not(h3) {
  flex: 1;
  box-sizing: border-box;
  margin: 1% 5%;
}

button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.add-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.submit-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
}
