/* App.css */

body, html {
  margin: 0;
  padding: 0;
  max-height: 100%;
  font-family: Arial, sans-serif;
  background-color: #22222c; 
  color: #fff;
  overflow-y: hidden;
}

.app-container {
  display: flex;
  max-height: 100vh;
  width: 100%;
  background-color: #22222c;
  box-sizing: border-box;
  overflow-y: auto
  ;
}

.header {
  background-color: #2c3e50;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

.sidebar {
  width: 60px;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100vh;
  margin: 0 !important;

}

.content-area {
  height: 100%;
  flex: 1;
  background-color: #1e1e1e;
  padding: 20px;

}

.wallet-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 5px;
  min-width: 250px;
  text-align: left;
  z-index: 1000;
}

.side-section {
  width: 200px;
  background-color: #22222c;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

