:root {
  --bg-color: rgb(250, 247, 244);
}

.playground-container {
  max-width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background-color: rgb(250, 247, 244);
  color: var(--playground-text-color); /* Use CSS variable for text color */
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.playground-container > * {
  flex: 1; 
  padding: 2rem;
}

.pg-header > h1 {
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
}
.pg-header > p {
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
}

.pg-body {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
}
.pg-body > * {
  padding: 0 1rem;
  margin: 0 0.6rem;
  flex: 1 1 50%;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.pg-body > * h2 {
  font-size: 0.8rem;
}

.output-container {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.pg-body pre {
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  flex: 1;
}

.example-container {
  font-size: 0.7rem;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container-header > * {
  flex: 1;
}

.container-header > h2 {
  text-align: left;
}

.container-header > button {
  display: block;
  padding: 0.4rem;
  box-sizing: border-box;
  background-color: var(--button-bg-color); /* Use CSS variable for background */
  color: var(--button-text-color); /* Use CSS variable for text color */
  border: 2px solid var(--button-border-color); /* Use CSS variable for border color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for theme change */
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: var(--button-hover-bg-color); /* Use CSS variable for hover background */
  color: var(--button-hover-text-color); /* Use CSS variable for hover text color */
}
