/* Styles specific to the Build/Deploy page */

.test-page {
  padding: 20px;
  background-color: #3f465e !important;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-size: 1.3rem !important;
}

h2 {
  font-size: 1rem;
}

/* DeploymentManager Component Styles */
.test-runner {
  background-color: #6b7288 !important;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}

/* Logs Component Styles */
.logs {
  background-color: #6b7288;
  color: #ecf0f1;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.logs pre {
  background-color: #2c3e50;
  padding: 10px;
  border-radius: 5px;
}
